@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
.navbar {
    background: linear-gradient(to right, #003D64, #008FEB);
    padding: 18px 0;
}

.btn-cta {
    background: linear-gradient(to right, #003D64, #008FEB);
}

.btn-login {
    background-color: white;
    color: black;
}
.btn-login:hover {
    background-color: rgb(228, 226, 226);
    color: black;
}
.btn-outline {
    border: 1px solid #fff;
    color: white;
}
.btn-outline:hover {
    background-color: #fff;
    color: black;
}

.footer{
    background: linear-gradient(to right, #003D64, #008FEB);
}

.footer .kol i{
    font-size: 1.5rem;
}